<tr>
    <td>{{@index}}</td>
    <td>{{a}}</td>
    <td>{{b}}</td>
    <td>{{c}}</td>
    <td>{{d}}</td>
    <td>
        <button value={{_id}} name="delete" onclick="myFunction()" id="delete" formaction='/usun'>Delete</button>
    </td>
    <td>
        <button formaction='/edit' value={{_id}} name="edit" id="edit">Edit</button>
    </td>
</tr>